<div class="d-flex justify-content-center mt-2" >
    <form [formGroup]="form" (ngSubmit)="onFormSubmit()" style="width:100%">
        <div class="form-group d-flex flex-column align-items-center">
            <label for="getMethod">Select Your Get Method</label>
            <select name="getMethod" id="method" class="form-select mb-2" style="width:50%" formControlName="method" #method>
                <option value="rfid">RFID</option>
                <option value="uid">User Id</option>
                <option value="all">All</option>
            </select>
            <div class="form-group" style="width:50%;" *ngIf="method.value=='rfid'">
                <label for="rfid">RFID:</label>
                <input type="text" placeholder="Enter RFID" id="rfid" class="form-control"  formControlName="data">
                <button class="btn btn-success btn-block mt-3">Get Users</button>
            </div>
            <div class="form-group" style="width:50%;" *ngIf="method.value=='uid'">
                <label for="rfid">User Id:</label>
                <input type="text" placeholder="Enter User id" id="uid" class="form-control" formControlName="data">
                <button class="btn btn-success btn-block mt-3">Get Users</button>
            </div>
            <div class="form-group" style="width:50%;" *ngIf="method.value=='all'">
                <input type="text" placeholder="Offset" id="offset" class="form-control mt-2 mb-2" formControlName="offset">
                <input type="text" placeholder="Limit" id="limit" class="form-control" formControlName="limit">
                <button class="btn btn-success btn-block mt-3">Get All Users</button>
            </div>
        </div>
    </form>
</div>