<header class="navbar navbar-dark bg-dark">
  <div class="container">
    <a><h1 class="navbar-brand"><img src="../assets/pp.jpg" style="height:75px;" alt=""></h1></a>
    <div class="right">
      <h1 class="text-white">Kapı Projesi</h1>
    </div>
  </div>
</header>
<div class="container-fluid d-flex flex-column justify-content-start align-items-center" style="height: 90vh;">
  <mat-tab-group>
    <mat-tab label="Add User"><app-dashboard></app-dashboard> </mat-tab>
    <mat-tab label="Delete User"> <app-delete-users></app-delete-users> </mat-tab>
    <mat-tab label="Get Users"><app-get-users></app-get-users></mat-tab>
    <mat-tab label="Update User"><app-update></app-update></mat-tab>
  </mat-tab-group>

</div>